:root{
  --background-color: #212529;
  --primary-color: #32de84;
  --secondary-color: #fff;
  --dark-green: #1bc26c;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: var(--background-color);
  font-size: 1.2rem;
  max-width: 1400px;
}

@media screen and (min-width: 1024px){
  body{
    margin: 0 auto;
  }
}

/* NAV BAR */
.nav-my-name{
  display: none;
}

nav .contact-me-btn{
  display: none;
}

nav{
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
}

nav .list-item .link{
  font-size: 1.3rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav .list-item:hover .link{
  color: var(--primary-color);
}

@media screen and (min-width: 768px){
  nav{
    justify-content: space-between;
    padding: 15px;
  }
  .nav-my-name{
    display: inline-block;
    font-size: 3rem;
    color: var(--primary-color);
  }
  nav .contact-me-btn{
    display: inline-block;
  }

  nav .link, nav .contact-me-btn{
    font-size: 1.4rem;
  }  
}

@media screen and (min-width: 1024px){
  nav .list-item .link, nav .contact-me-btn{
    font-size: 1.6rem;
  }  
}

/* LIST */
.list{
  margin: 0;
  padding: 0;
}

.list-inline{
  display: flex;
  
}

.list-item{
  list-style: none;
}

.list-inline .list-item{
  margin-right: 20px;
}

.list-inline .list-item:last-child{
  margin: 0;
}

/* LINK */
.link{
  color: var(--secondary-color);
  text-decoration: none;
}

.link:visited{
  color: var(--secondary-color);
}

/* BUTTON */
.btn{
   padding: 10px 20px;
   border-radius: 10px;
   border: 0;
}

.btn:hover{
  cursor: pointer;
}

.contact-me-btn{
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  transition: background-color 0.3 ease;
}

.contact-me-btn:hover{
  background-color: var(--dark-green);
}