:root{
  --primary-color: #0af89f;
  --secondary-color: #cccbcc;
  --background-color: #1d1b23;
}

*{
  box-sizing: border-box;
}

/* TYPOGRAPHY */
html{
  font-size: 62.5%;
}

body{
  background-color: var(--background-color);
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--secondary-color);
}

h1, h2, h3, h4, p {
  margin: 0;
  margin-bottom: 10px;
}

h1{
  font-size: 2.986rem;
}

h2{
  font-size: 2.488rem;
}

h3{
  font-size: 2.074rem;
}

p{
  font-weight: 500;
}

@media screen and (min-width: 768px){
  h1{
    font-size: 3.815rem;
  }
  
  h2{
    font-size: 2.441rem;
  }
  
  h3{
    font-size: 2.074rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    font-size: 1.4rem;
  }
  h1{
    font-size: 5.61rem;
  }
  
  h2{
    font-size: 4.209rem;
  }
  
  h3{
    font-size: 3.157rem;
  }
}

/* LINKS */
.link{
  color: var(--secondary-color);
  font-size: 2.074rem;
  font-weight: bold;
  text-decoration: none;
}

.link:visited{
  color: var(--secondary-color);
}

.link:hover{
  color: var(--primary-color);
}

/* LIST */
.list{
  margin: 0;
  padding: 0;
}

.list-inline {
  display: flex;
}

.list-item{
  list-style: none;
}

.list-inline .list-item{
  margin-right: 5px;
}

/* LOGO */
.logo-container{
  display: flex;
  align-items: end;
}

.logo__name{
  font-size: 4rem;
  font-weight: bold;
  color: white;
}

.logo__dot{
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-bottom: 13px;
  margin-left: 5px;
}

/* BUTTON */
.btn{
  padding: 10px  15px;
  background-color: var(--primary-color);
  /* color: white; */
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover{
  background-color: #08c781;
}